Fedora Reindexing Service {{#headers.CamelDockerRunning}}(Running in Docker){{/headers.CamelDockerRunning}}

    Configured Fedora Location: {{headers.CamelFcrepoBaseUrl}}
    Configured REST endpoint: {{headers.CamelReindexingHost}}:{{headers.CamelReindexingPort}}{{headers.CamelReindexingPrefix}}

You can POST to the defined re-indexing endpoint, and it
will begin to traverse the Fedora repository at that point,
sending "re-indexing" hints to the specified services
(there are no default services defined).

{{#headers.CamelDockerRunning}}
Note: The mentioned hostname and port might not work on your host machine when running
    Camel Toolbox as Docker container. You can usually access the reindexing service on
    localhost:9080 when you docker-compose.

{{/headers.CamelDockerRunning}}
For example:

  curl -XPOST {{headers.CamelReindexingHost}}:{{headers.CamelReindexingPort}}{{headers.CamelReindexingPrefix}}/objects \
  -d "CamelReindexingRecipients=broker:queue:solr.reindex,broker:queue:fixity,queingservice:queue:triplestore.reindex"

Or (as JSON)

  curl -XPOST {{headers.CamelReindexingHost}}:{{headers.CamelReindexingPort}}{{headers.CamelReindexingPrefix}}/objects -H"Content-Type: application/json" \
  -d '["broker:queue:solr.reindex","broker:queue:fixity","broker:queue:triplestore.reindex"]'

This will reindex both Solr and the external triplestore,
starting at the /objects node in fedora.
