*.class
fcrepo4-data/
*transaction.log
*~

# Eclipse files
**/.settings
**/.classpath
**/.checkstyle
**/.project

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# maven target directories
target/

# intellij
.idea/
*.iml
