language: java
jdk:
  - oraclejdk7
before_install:  
 - "echo $JAVA_OPTS"
 - "export JAVA_OPTS=-Xmx1024m -XX:MaxPermSize=512m"
notifications:
  irc: "irc.freenode.org#duraspace-ff"
  email:
      - fedora-tech@googlegroups.com

