# In the event of failure, the maximum number of times a redelivery will be attempted.
error.maxRedeliveries=10

# The baseUrl for the fedora repository.
fcrepo.baseUrl=http://localhost:8080/fcrepo/rest

# The default `LDPath` transformation to use. This is overridden on a per-object
# basis with the `indexing:hasIndexingTransformation` predicate. This should be a public URL.
fcrepo.defaultTransform=

# The location of the LDPath service.
ldpath.service.baseUrl=http://localhost:9086/ldpath

# If you would like to index only those objects with a type `indexing:Indexable`,
# set this property to `true`
indexing.predicate=false

# The camel URI for the incoming message stream.
input.stream=broker:topic:fedora

# The camel URI for handling reindexing events.
solr.reindex.stream=broker:queue:solr.reindex

# The baseUrl for the Solr server. If using Solr 4.x or better, the URL should include
# the core name.
solr.baseUrl=http://localhost:8983/solr/collection1

# The timeframe (in milliseconds) within which new items should be committed to the solr index.
solr.commitWithin=10000

# A comma-delimited list of URIs to filter. That is, any Fedora resource that either
# matches or is contained in one of the URIs listed will not be processed by the
# fcrepo-indexing-solr application.
filter.containers=http://localhost:8080/fcrepo/rest/audit

