<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%p %d{HH:mm:ss.SSS} [%thread] \(%c{0}\) %m%n</pattern>
    </encoder>
  </appender>

  <logger name="org.fcrepo.camel" additivity="false" level="${fcrepo.camel.toolbox.log.:-TRACE}">
    <appender-ref ref="STDOUT"/>
  </logger>

  <root level="${fcrepo.log.root:-INFO}">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
