# In the event of failure, the maximum number of times a redelivery will be attempted.
error.maxRedeliveries=10

# The camel URI for the internal reindexing queue.
reindexing.stream=broker:queue:reindexing

# The URL path prefix for the reindexing endpoint.
rest.prefix=/reindexing

# The port at which reindexing requests can be sent.
rest.port=9080

# The hostname that the servlet component binds to
rest.host=localhost

